[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pysimplegui = "*"
requests = "*"
pywin32 = "*"
cowsay = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
